@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    @apply bg-voel-beige text-voel-charcoal antialiased;
    font-family: 'Inter', sans-serif;
  }
  
  h1, h2, h3, .font-serif {
    font-family: 'Playfair Display', serif;
  }
}