@import "tailwindcss";

@theme {
  --color-voel-beige: #F9F7F2;
  --color-voel-gold: #D2B48C;
  --color-voel-charcoal: #1A1A1A;
  
  --font-serif: "Playfair Display", serif;
  --font-sans: "Inter", sans-serif;
}

@layer base {
  body {
    background-color: var(--color-voel-beige);
    color: var(--color-voel-charcoal);
    font-family: var(--font-sans);
    -webkit-font-smoothing: antialiased;
  }
  
  h1, h2, h3, .font-serif {
    font-family: var(--font-serif);
  }
}